<div class="text-center form-center">
  <%= image_tag "person-tipping-hand.png", alt: "", class: "mb-4", height: "57px" %>
  <h1 class="mb-4">Let's finish up your profile</h1>
  
  <%= render 'form', profile: @profile %>
</div>
