<div class="mt-5 mx-auto text-center">
  <h2 class="">Welcome to Wishlise! &#10024;</h2>

  <p class="mt-3">With Wishlise you can easily create and share your wishlists.</p>

  <p class="mt-3"><%= link_to "Log in", new_user_session_path %> if you already have an account or<br><%= link_to "sign up", new_user_registration_path %> if you are ready to create your first wishlist!</p>
</div>
