<div class="album py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% items.each do |item| %>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= link_to item.title, item, class: "card-link" %></h5>

              <p class="card-text text-muted"></p>
            </div>
          </div>
        </div>
      <% end %>

      <% if show_new_button %>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= image_tag "wrapped-gift.png", alt: "" %> <%= link_to "Add new item", new_item_path, class: "card-link" %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
