<%= turbo_frame_tag item, data: { controller: "turbo-form-redirect" } do %>
  <div class="py-3 px-3">
    <div id="items" class="row justify-content-center row-cols-1 row-cols-lg-2 g-4 mt-3">
      <div class="col">
        <%= render partial: "item", locals: { item: item, show_footer: true, result: result }%>
      </div>
    </div>
  </div>
<% end %>
