<%= turbo_frame_tag @item do %>
  <div class="my-5 mx-auto item-form">
    <h2 class="text-center">
      Edit item
    </h2>

    <%= render "form", item: @item, errors: [], upload_image: true %>
  </div>
<% end %>
