body {
  margin: 0 10px;
}

.welcome-screen {
  width: 500px;
  margin: auto;
}

.form-center {
  width: 300px;
  margin: auto;
}

.text-left {
  text-align: left;
}

h1 img {
  margin-top: 20px;
  height: 40px;
}

h3 img {
  margin-top: 15px;
  height: 40px;
}

h5 img {
  height: 25px;
}

.btn img {
  height: 25px;
}
