body {
  margin: 0 10px;
}

.welcome-screen {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.form-center {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.text-left {
  text-align: left;
}

h1 img {
  margin-top: 20px;
  height: 40px;
}

h3 img {
  margin-top: 15px;
  height: 40px;
}

h5 img {
  height: 25px;
}

.btn img {
  height: 25px;
}

@media screen and (min-width: 500px) {
  .item-show {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;

    .item-details,
    .item-image {
      width: 50%;
    }
  }
}

@media screen and (max-width: 501px) {
  .item-image {
    margin-top: 20px;
  }
}
