.auth-form {
  max-width: 300px;
}

.profile-form {
  max-width: 400px;
}

.wishlist-form {
  max-width: 400px;
}

.item-form {
  max-width: 700px;

  .price-field {
    width: 150px;
  }
}

.avatar {
  border-radius: 50px;
  width: 1em;
  height: 1em;
}

.avatar-100 {
  width: 100px;
  height: 100px;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.fs-75 {
  font-size: 75%;
}
