<div id="<%= dom_id wishlist %>">
  <p>
    <strong>User:</strong>
    <%= wishlist.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= wishlist.title %>
  </p>

  <p>
    <strong>Publicity:</strong>
    <%= wishlist.publicity %>
  </p>

</div>
