<%= turbo_frame_tag @wishlist do %>
  <div class="my-5 mx-auto wishlist-form">
    <h2 class="text-center">
      Editing wishlist
    </h2>

    <%= render "form", wishlist: @wishlist, errors: [] %>
  </div>
<% end %>
