<div class="py-5 px-3">
  <h2 class="text-center">Your Wishlists &#10024;</h2>

  <div class="text-center">
    <p>
      <%= link_to "New wishlist", new_wishlist_path %>
    </p>
  </div>

  <div id="wishlists" class="row row-cols-1 row-cols-md-3 g-4">
    <% @wishlists.each do |wishlist| %>
      <%= render partial: "wishlist", locals: { wishlist: wishlist } %>
    <% end %>
  </div>
</div>
