<%= turbo_frame_tag :wishlist_frame do %>
  <div class="my-5 mx-auto wishlist-form">
    <h2 class="text-center">
      <% if current_user.wishlists.count == 0 %>
        It's time to create your first wishlist &#129668;
      <% else %>
        New wishlist
      <% end %>
    </h2>

    <%= render "form", wishlist: @wishlist, errors: [] %>
  </div>
<% end %>
